PINECONE_API_KEY=your_api_key
VOYAGE_API_KEY=your_api_key
GROQ_API_KEY=your_api_key
DEEPSEEK_API_KEY=your_api_key

EMBEDDING_MODEL="voyage-4-large"
DATASET_MODEL="groq/llama-3.3-70b-versatile"
DEEPSEEK_MODEL="deepseek/deepseek-v4-flash"